.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}



// @primary-color: red;
@text-color: #222;
@item-hover-bg: #f5f5f5;
@padding-left-right: 30px;

// Layout
@layout-header-background: #fff;
@layout-header-height: 60px;
@layout-header-padding: 10px @padding-left-right;

