.item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid @border-color-base;
  transition: .2s;
}

.color {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 10px;
}

.time {
  margin-left: auto;
  color: @grey-2;
  font-weight: 500;
}